body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  color: white;
}

h3 {
  font-size: 30px;
}

a {
  color: grey;
  text-decoration: none;
}

button,
body,
input,
select {
  background: #222;
  color: white;
  border-color: #444;
}

button:disabled {
  color: #666;
}

.saved-alerts,
.real-time-overlay {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.saved-alerts {
  min-height: 800px;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.real-time-overlay, .custom-alert {
  min-width: 375px;
  flex-basis: 50%;
  flex-grow: 1;
  height: 360px;
}

.real-time-overlay, .custom-alert, .saved-alerts {
  text-align: center;
}


.url-switch {
  height: 34px;
  display: table;
  margin: 0 auto;
}

.url-switch-option {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search label {
  padding-right: 5px;
}

.search div {
  margin: 5px 15px;
  display: inline-block;
}

#legend {
  height: 20px;
}

#legend .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
}

#legend > div {
  display: inline-block;
  padding: 0 10px;
}

.dot.tags {
  background-color: #bbb;
}

.dot.selected {
  background-color: #9c1529;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  place-content: center center;
  margin-bottom: 50px;
}

.div-alert {
  width: 160px;
  height: 175px;
  padding: 0 5px;
  position: relative;
  display: inline-block;
}

.div-alert p {
  margin: 5px 0;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.div-alert p.sub-name {
  font-size: 0.75em
}

.marquee {
    width: 100%; /* Or a fixed width */
    overflow: hidden; /* Hides content outside the container */
    white-space: nowrap; /* Prevents text from wrapping */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.marquee span:focus {
    display: inline-block; /* Allows animation on a span */
    animation: scroll-left 15s linear infinite; /* Defines the animation */
}

@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Starting position */
    }

    100% {
        transform: translateX(-100%); /* Ending position, scrolls completely off-screen to the left */
    }
}

.custom-form-save {
  margin-left:5px;
}

.custom-form-save button {
  margin: 0 10px;
}

.custom-preview h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.div-alert p.selected {
  color: red;
}

.div-alert p button {
  margin: 0;
  font-size: 0.7em;
  color: white;
  border: none;
}

.button-background {
  height: 100px;
  width: 150px;
  margin: 0;
  margin-bottom:5px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: 110% 110%;
  border-radius: 22%;
  border: 0.25rem double;
  border-color: transparent;
}

.tag-alert .button-background{
  border-color: #bbb;

  /* box-shadow: 0 4px 8px 0 #bbb, 0 6px 20px 0 #bbb; */
}

.selected .button-background{
  border-color: #9c1529;
  box-shadow: 0 4px 8px 0 #9c1529, 0 6px 20px 0 #9c1529;
}

.button-background.image-background {
  background-color: transparent;
}

.color-background {
  background-image: url("../graphics/transparent_button_small_normal.png");
}

.color-background:active {
  background-image: url("../graphics/transparent_button_small_pressed.png");
}


.custom-alert-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.custom-alert h3 button{
  font-size: 30px;
  color: grey;
  border: none;
}

.custom-form {
  width: 60%;
}

.custom-preview {
  width: 40%;
}

.custom-form form {
  display: grid;
  grid-template-columns: 110px minmax(110px, 1fr);
  grid-gap: 5px;
  column-gap: 10px;
  margin: 10px;
}

.custom-form label {
  grid-column: 1 / 2;
  text-align: center;
  margin: 5px;
}

.custom-form input {
  grid-column: 2;
}

.custom-form .alert-thumbnail input, .custom-form .alert-thumbnail .color-picker {
  float: left;
  width: 98%;
}

.color-picker .swatch {
  float: left;
  width: 100%;
  padding: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
  display: inline-block;
  cursor: pointer;
}

.color-picker .swatch .color {
  width: 100%;
  height: 12px;
  border-radius: 2px;
}

.color-picker .popover {
  position: absolute;
  z-index: 2;
  margin-top: -285px;
}

.color-picker .cover {
  position: fixed;
  inset: 0;
}

.two-lists-ui {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-gap: 5px;
  column-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.two-lists-ui .left-list select,
.two-lists-ui .right-list select {
  width: 100%;
  height: 100px;
}

.two-lists-ui .add-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form p {
  text-align: center;
}

.div-alert.preview {
  width: 170px;
  height: 160px;
}

.div-alert.preview .button-background {
  width: 170px;
  height: 120px;
}

#save-status  {
  margin-top: 0;
  height: 25px;
}

.real-time-overlay iframe {
  overflow-y: hidden;
  width: 75%;
  min-width: 300px;
}

#user-details {
  float: right;
  text-align: right;
}

#user-details div {
  float: left;
}

#user-details p {
  margin-top: 0;
  margin-bottom: 5px;
}

#user-details .button-background {
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}

.login {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-button {
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #6441a4;
}

.lights {
  padding-left: 20px;
  padding-right: 20px;
}

.lights .color-selector input {
  width: 50%;
  float: left;
}

.lights .color-selector .color-picker {
  float: left;
  width: 49%;
}
